@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin fluidtype($min, $max) {
  $min-val: strip-unit($min);
  $max-val: strip-unit($max);

  font-size: calc( #{$min} + (#{$max-val} - #{$min-val}) * (100vw - 400px) / (2560 - 400) );
}
