$min-font-size: 13px;
$max-font-size: 16px;
$min-browser-width: 400px;
$max-browser-width: 2560px;

$base-font-size: calc(#{$min-font-size} + (#{$max-font-size} - #{$min-font-size}) * (100vw - #{$min-browser-width}) / (#{$max-browser-width} - #{$min-browser-width}));

$scale: 1.3;

$p: $base-font-size;
$h4: #{$base-font-size} * $scale;
$h3: #{$h4} * $scale;
$h2: #{$h3} * $scale;
$h1: #{$h2} * $scale;

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

p {
  font-size: $p;
}
